# LLM
LLM_URL=http://localhost:11434/api/chat
LLM_MODEL=gemma2:2b

# Admin
ADMIN_LOGIN=admin
ADMIN_PASSWORD=As612aj$

# Database
DATABASE_URL=sqlite+aiosqlite:///./data/news.db

# Telegram API (для Telethon)
TG_API_ID=33035323
TG_API_HASH=0145cc4c3a4254599115e4e416c98858
BOT_TOKEN=8219969122:AAEZFUSadNc6dfUIvXD9KbhktdtHVjgzHk8

# Парсинг
PARSING_INTERVAL_MINUTES=60