/Parser/__pycache__/
/news_parser.session
/.env
/.venv/
/.idea/
/.vscode/
/ml_models/
/backend/tests/
/backend/__pycache__/
/clusters.pkl
/embeddings.pkl
/summary_out_example.txt

# Example Folders that doesnt end up in project:
{[!}]*}
# Example Files that doesnt end up in project:
{[!}]*}.*