/__pycache__/

/news_parser.session
/.env
/.venv/
/venv/
/.vscode/
/.qwen/
/ml_models/
/data/
/tests/
/todo.md
/README.AI.md

/ai_agent/__pycache__/
/backend/__pycache__/
/backend/controllers/__pycache__/
/backend/services/__pycache__/
/database/__pacache__/
/database/models/__pacache__/
/Parser/__pycache__/

/database/__pycache__/
/database/models/__pycache__/

# Example Folders that doesnt end up in project:
{[!}]*}
# Example Files that doesnt end up in project:
{[!}]*}.*